{% extends 'base.html' %}
{% block title %}Eliminar evento{% endblock %}
{% block content %}
    <form method="post">{% csrf_token %}
        <table>

            <col width="180">

            <tr>
                <th>Atributo</th>
                <th>Detalle</th>
            </tr>

            <tr><td>Usuario</td><td>{{ evento.usuario }}</td></tr>
            <tr><td>Nombre</td><td>{{ evento.nombre }}</td></tr>
            <tr><td>Categoria</td><td>{{ evento.categoria }}</td></tr>
            <tr><td>Lugar</td><td>{{ evento.lugar }}</td></tr>
            <tr><td>Dirección</td><td>{{ evento.direccion }}</td></tr>
            <tr><td>Fecha Inicio</td><td>{{ evento.fecha_inicio }}</td></tr>
            <tr><td>Fecha Fin</td><td>{{ evento.fecha_fin }}</td></tr>
            <tr><td>Modo</td><td>{{ evento.modo }}</td></tr>

        </table>

        <br>
        ¿Estás seguro que deseas borrar el evento "{{ object.nombre }}"?

        <form>
            <br><br>
            <input type="submit" value="Aceptar" />
            <input type="button" value="Cancelar" onclick="window.location.href='{% url 'eventos:list' %}'" />
        </form>
    </form>
{% endblock %}